@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">JL Financial App</h1>
    <p class="lead">This is an application developed by Judah Lucas for tracking and managing finances.</p>
    <hr class="my-4">
    <p class="text-muted">This application was built using ASP.NET Framework.</p>
    <p class="lead">
        <a href="https://asp.net" class="btn btn-primary btn-lg">View Project on GitHub &raquo;</a>
    </p>
</div>

<h1 class="display-4">Get Started</h1>
<div class="row">
    <div class="col-md-3">
        <h2>Existing Users</h2>
        <p>Log in to an existing account to get started now.</p>
        <p>@Html.ActionLink("Log in", "Login", "Account", new { @class = "btn btn-primary" })</p>
    </div>
    <div class="col-md-3">
        <h2>New Users</h2>
        <p>Register a new account to get started now.</p>
        <p>@Html.ActionLink("Register", "Register", "Account", new { @class = "btn btn-primary" })</p>
    </div>
</div>