<div id="alert" class="alert alert-info alert-dismissible" role="alert" hidden>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    
    <strong id="alert-title">this is a title</strong>
    <p id="alert-info" class="mb-0">This is a paragraph</p>
</div>
