
@model IEnumerable<JLFinancialApp.Models.Income>

@{
    ViewBag.Title = "Index";
}

<h2>Income</h2>

<hr />

@Html.ActionLink("Add New Income", "New", "Income", null, new { @class = "btn btn-primary btn-lg" })

<hr />

<table id="incomes" class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">
                Name
            </th>
            <th scope="col">
                Period Type
            </th>
            <th scope="col">
                Amount
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var income in Model)
        {
            <tr id="row-@income.Id">
                <td>@Html.ActionLink(income.Name, "Edit", "Income", new { id = income.Id }, null)</td>
                <td>@income.PeriodType.Name</td>
                <td>£@income.Amount</td>
                <td>
                    <button class="btn-dark delete-row" data-id="@income.Id">
                        Delete
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts 
{
    <script>
        // REFACTOR: Place in seperate scripts file
        $(document).ready(function () {            
            $("#incomes").on("click", ".delete-row", function () {    
                var id = $(this).data("id");

                $.ajax({
                    url: "/api/income/" + id,
                    method: "delete",
                    success: function () {
                        $("#row-" + id).remove();
                    }
                });
            })
        });
    </script>    
}