@model JLFinancialApp.Models.ViewModels.DashboardViewModel

<!-- Totals Bar -->
<div class="card text-white bg-dark mb-4">
    <div class="card-header">Monthly Overview</div>
    <div class="card-body">
        <div class="progress bg-success" style="height: 3rem">
            <div class="progress-bar bg-warning text-white lead" role="progressbar" style="width: @Model.CostsPercent%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">Costs: £@Model.TotalCosts</div>
            <div class="progress-bar bg-success text-dark lead" role="progressbar" style="width: @Model.SurplusPercent%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">Surplus: £@Model.Surplus</div>
        </div>
    </div>
</div>
