@model JLFinancialApp.Models.ViewModels.DashboardViewModel

@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<hr />

<div class="row">
    <div class="col-4 col-md-3">

        @Html.Partial("_Totals")

    </div>
    <div class="col-8 col-md-9">
        @Html.Partial("_Overview", Model)

        @Html.Partial("_Costs", Model)
    </div>
</div>




